PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/land-a-job-os
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
COOKIE_NAME=land_a_job_session
dhfdhfr